@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 238, 238, 238;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 201, 201, 201;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  height: 100%;
}

body {
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(238, 238, 238, 1) 150%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .slide-down {
    animation: slide-down 2s ease-in-out;
  }

  .fade-in {
    animation: fadeIn 2s ease-in-out;
  }
}

.button {
  background-color: #333;
  color: white;
  transition: background-color 0.3s ease;
  transform: scale(1.2);
}

.hover-gradient {
  background: linear-gradient(to top, #EC4899, #F497C7);
}

.top-right {
  position: absolute;
  margin-top: -15px;
  margin-left: 925px;
}

.button:hover {
  background-color: #555;
}

.card {
  padding: 1rem;
  margin-right: 20px;
  font-size: 25px;
  border: 2px solid #383839;
  animation: fadeIn;
}

.purple-text {
  color: #5D5EEF;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}