@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 201, 21, 201;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 000, 0, 0;
  }
}

.gradient-hover {
  background: linear-gradient(90deg, blue, pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-hover:hover {
  background: linear-gradient(90deg, rgb(3, 3, 255), rgb(255, 119, 142));
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #101010;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .slide-down {
    animation: slide-down 2s ease-in-out;
  }

  .fade-in {
    animation: fadeIn 2s ease-in-out;
  }
}

.button {
  background-color: #333;
  color: white;
  transition: background-color 0.3s ease;
  transform: scale(1.2);
}

.hover-gradient {
  background: linear-gradient(to top, #EC4899, #F497C7);
}

.top-right {
  position: absolute;
  margin-top: -15px;
  margin-left: 925px;
}



.button:hover {
  background-color: #555;
}

.card {
  padding: 1rem;
  margin-right: 20px;
  font-size: 25px;
  border: 2px solid #383839;
  animation: fadeIn;
}

.purple-text {
  color: #5D5EEF;
}

@keyframes fadeIn{
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

.fade-in{
  animation: fadeIn 2s ease-in-out
}

@keyframes slide-down{
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%)
  }
}

.animated-button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #ffffff40;
  box-shadow: 0 0 0 2px #ffffff20;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #2196F3;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:first-child {
  position: relative;
  z-index: 1;
}

.animated-button:hover {
  box-shadow: 0 0 0 5px #2195f360;
  color: #ffffff;
}

.animated-button:active {
  scale: 0.95;
}

.animated-button:hover span:last-child {
  width: 150px;
  height: 150px;
  opacity: 1;
}
